<header class="app-header d-flex justify-content-between align-items-center px-4 py-2 shadow-sm bg-white">
  <!-- Left Section -->
  <div class="left-section d-flex align-items-center gap-4">
    <div class="logo">
      <img src="/assets/logo.jpg" alt="Pilot Logo" class="img-fluid" style="height:40px;">
    </div>

    <nav class="nav nav-pills gap-2">
      <a routerLink="/home" routerLinkActive="active" class="nav-link px-3 py-2">
        <i class="bi bi-house-door me-1"></i> Home
      </a>
      <a routerLink="/topics" routerLinkActive="active" class="nav-link px-3 py-2">
        <i class="bi bi-journal-bookmark me-1"></i> Courses
      </a>
      <a routerLink="/about" routerLinkActive="active" class="nav-link px-3 py-2">
        <i class="bi bi-info-circle me-1"></i> About
      </a>
      <a routerLink="/contact" routerLinkActive="active" class="nav-link px-3 py-2">
        <i class="bi bi-info-circle me-1"></i> Contact
      </a>
    </nav>

  </div>

  <!-- Right Section:  -->
  <div class="right-section d-flex gap-2">
    <!-- Add Topic button-->
    <button *ngIf="isAdmin" class="btn btn-outline-primary fw-semibold px-4" (click)="addTopicForm.openNewForm()">
      <i class="bi bi-plus-lg me-1"></i> Add Topic
    </button>

    <!-- Login button -->
    <button routerLink="/login" *ngIf="!isLogined" class="btn btn-outline-primary fw-semibold px-4">
      <i class="bi bi-box-arrow-in-right me-1"></i> Login
    </button>
    <button routerLink="/logout" *ngIf="isLogined" class="btn btn-outline-primary fw-semibold px-4"
      (click)="onLogout()">
      <i class="bi bi-box-arrow-in-right me-1"></i> Logout
    </button>
  </div>
</header>

<app-add-topic-form (topicAdded)="onTopicAdded($event)" #addTopicForm></app-add-topic-form>